<div class="card card-post">
    <a href="/recipe/single" class="card-image-top">
        <img src="{{'assets/images/post-thumb-2.jpg'|theme}}" alt="" class="img-fluid mh-173" >
        <div class="card-image-overlay">
            <h4 class="card-title">{{item.title}}</h4>
        </div>
    </a>
	<div class="card-body">
		<a href="/recipe/single">
			<h4 class="card-title">{{item.title}}</h4>
		</a>
		<p>
			<small>Posted {{item.created_at.format('l j, Y')}}</small>
		</p>
		<div
			class="pb-3 d-flex justify-content-between border-bottom border-primary">
			{# <a href="#" class="border border-primary px-4 py-1">Meat</a> #}
			{% if item.categories.count() > 0 %}
				<a href="#" class="mr-2 px-1 btn btn-outline-primary card-btn">{{item.categories.first.category_title}}</a>
			{% else %}
				<div></div>
			{% endif %}
			<div class="d-flex align-items-center justify-content-end">
				<img class="mr-2" src="{{ 'assets/images/good-rate.png'| theme}}" alt="good-rating" width="14" height="14">
				<span class="f9">Serves: {{item.serve}}</span>
				<img class="ml-2 mr-2" src="{{ 'assets/images/clock.png'| theme}}" alt="good-rating" width="14" height="14">
				<span class="f9">Time: {{item.time|replace({'Minutes': '', 'minutes': '', 'Minute':'','minute': '','Hours': '', 'Min': '',})}}</span>
			</div>
		</div>
		<div class="pt-3 content">
			<p class="text-ellipsis">{{item.content}}</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a href="/recipe/single" class="btn btn-primary px-3">Read More</a>
			</div>
			<div class="col-md-12 mt-3">
				<div class="share d-flex align-items-center">
					<span class="f18 text-primary">Share:</span>
					{% partial 'share' %}
				</div>
			</div>
		</div>
	</div>
</div>