


{% set recipes = __SELF__.allRecipes() %}
{% set has_ads = __SELF__.property('space_code') %}
{% set url = __SELF__.property('section_view_more_url') %}
{% set cols = has_ads ? 3 : 4 %}
{% if has_ads %}
    {% set adSpace = __SELF__.getAd() %}
    {% if adSpace.is_random_ad and adSpace.ads.count() %}
        {% set ad  =  adSpace.ads.random() %}
    {% else %}
        {% set ad  =  adSpace.ads.sortBy('updated_at').first() %}
    {% endif %}
    {% set cols = adSpace.count > 0 ? 3 : 4 %}
{% endif %}

<section class="pt-6 container-fluid container-lg">
		<div class="row">
			<div class="col-md-{{has_ads ? 9 : 12}} d-flex justify-content-between">
                {% if __SELF__.property('section_title') %}
                    <h3 class="mb-3">{{__SELF__.property('section_title')|_}}</h3>
                {% endif %}
                {% if url %}
                    <div>
                        <a href="{{'category-page'|page({category: url})}}" class="btn btn-primary">{{'View More'|_}}</a>
                    </div>
                {% endif %}
			</div>
		</div>
        {% if  has_ads and adSpace.count() > 0 %}
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="row">
                    {% for i in recipes %}
                    <div class="col-md-6 col-lg-{{12/cols}} mb-4 px-10px d-flex">
                        {% partial 'post-card-p'  item=i %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 col-lg-3 d-flex justify-content-center">
                {% if adSpace.space_type == 'V' %} 
                    {% partial 'ad-vertical' ad = ad %}
                {% endif %}
                {{debug(adSpace.toArray())}}
                {% if adSpace.space_type == 'B' %} 
                    {% partial 'ad-box' ad = ad %}
                {% endif %}
            </div>
        </div>
        {% else %}
            <div class="row">
                {% for i in recipes %}
                <div class="col-md-6 col-lg-{{12/cols}} mb-4 px-10px d-flex">
                    {% partial 'post-card-p'  item=i %}
                </div>
                {% endfor %}
            </div>
        {% endif %}
</section>
