


{% set recipes = __SELF__.allRecipes() %}
{% set has_ads = __SELF__.property('ads_id') %}
{% set cols = has_ads ? 3 : 4 %}


<section class="pt-6 container">
		<div class="row">
			<div class="col-md-{{has_ads ? 9 : 12}} d-flex justify-content-between">
                {% if __SELF__.property('section_title') %}
                    <h3 class="mb-3">{{__SELF__.property('section_title')}}</h3>
                {% endif %}
				<div>
					<a href="#" class="btn btn-primary">View More</a>
				</div>
			</div>
		</div>
        {% if  has_ads %}
            <div class="row">
                <div class="col-md-9">
        {% endif %}
                    <div class="row">
                        {% for i in recipes %}
                            <div class="col-md-{{12/cols}} mb-4 px-10px d-flex">
                                {% partial '@post-card-p'  item=i %}
                            </div>
                        {% endfor %}
                    </div>
        {% if has_ads %}
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <img src="{{'assets/images/vertical-banner.jpg'|theme}}" alt="vertical add" class="img-fluid align-self-start">
                </div>
            </div>
        {% endif %}
</section>
