{% set adSpace = __SELF__.getAd() %}

{% if adSpace.is_random_ad and adSpace.ads.count() > 0  %}
	{% set ad  =  adSpace.ads.random() %}
{% else %}
	{% set ad  =  adSpace.ads.sortBy('updated_at').first() %}
{% endif %}
{% if adSpace.space_type == 'H' %}
		<div class="section">
			<div class="container-fluid container-lg mt-5 pt-5 pb-8">
				<div class="row justify-content-center">
					<div class="col-md-12">
						{% if ad.is_image %}
							<a href="{{ad.url}}">
								<img class="img-fluid w-100" src="{{ad.image.path}}" alt="">
							</a>
						{% else %}
							{{content|raw}}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
{% endif %}

{% if adSpace.space_type == 'V' or adSpace.space_type == 'B' %}
	<div class="row justify-content-center">
		<div class="col-md-12">
			<a href="{{ad.url}}">
				<img class="img-fluid w-100" src="{{ad.image.path}}" alt="">
			</a>
		</div>
	</div>
{% endif %}